<a href="https://colab.research.google.com/github/janilles/couch/blob/master/couch_bdb_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boilerplate

In [0]:
# added -q for suppressing output
!pip install -q -U pymysql

import pymysql
import pandas as pd

# Database connection

In [0]:
def connect():
    return pymysql.connect(
        host=' ',
        port= , # number, not string
        user=' ',
        passwd=' ',
        db=' ',
        autocommit=True
        )

connection = connect()

def sql_to_df(sql):
    return pd.read_sql(sql, con=connection)

# Database tables

In [0]:
sql_to_df("""SHOW TABLES""")

# Table sizes

In [0]:
sql_to_df("""

    SELECT 
        table_schema as `Database`, 
        table_name AS `Table`, 
        round(((data_length + index_length) / 1024 / 1024), 2) `Size in MB` 
    FROM 
        information_schema.TABLES 
    WHERE
        table_schema LIKE 'insights'
    ORDER BY 
        (data_length + index_length) DESC;
    """)

# Tables described

## Goals

In [0]:
sql_to_df("""DESCRIBE c25k_user_goal""")

In [0]:
sql_to_df("""SELECT * FROM c25k_user_goal LIMIT 5""")

## Devices

In [0]:
sql_to_df("""DESCRIBE c25k_device""")

In [0]:
sql_to_df("""SELECT * FROM c25k_device LIMIT 5""")

## Runs

In [0]:
sql_to_df("""DESCRIBE c25k_run""")

In [0]:
sql_to_df("""SELECT * FROM c25k_run LIMIT 5""")

## Trainer logs

In [0]:
sql_to_df("""DESCRIBE c25k_trainer_log""")

In [0]:
sql_to_df("""SELECT * FROM c25k_trainer_log LIMIT 5""")

## Error logs

In [0]:
sql_to_df("""DESCRIBE error_log""")

In [0]:
sql_to_df("""SELECT * FROM error_log LIMIT 5""")