<a href="https://colab.research.google.com/github/janilles/couch/blob/master/couch_events.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boilerplate

In [0]:
# added -q for suppressing output
!pip install -q -U pymysql

import pymysql
import pandas as pd
import altair as alt

# Database connection

In [0]:
def connect():
    return pymysql.connect(
        host='',
        port=,
        user='',
        passwd='',
        db='',
        autocommit=True
        )

connection = connect()

def sql_to_df(sql):
    return pd.read_sql(sql, con=connection)

# Database tables

In [0]:
tables = sql_to_df("""SHOW TABLES""")

tables

## Event table described

In [0]:
sql_to_df("""DESCRIBE c25k_app_event""")

# App events

In [0]:
events = sql_to_df("""SELECT * FROM c25k_app_event""")

events.head()

## Events grouped

In [0]:
events.groupby('event',
               as_index=False)['device_id'].count(
).sort_values('device_id',
               ascending=False)

## Event values grouped

In [0]:
events.groupby('event_value',
               as_index=False)['device_id'].count(
).sort_values('device_id',
               ascending=False)

## OS split

In [0]:
sql_to_df("""
    
    SELECT DISTINCT
        COUNT(e.device_id) AS no_devices,
        o.device_os
    
    FROM
        c25k_app_event e
        
        LEFT JOIN
        
            (SELECT
                device_id,
                device_os
             FROM
                c25k_run) o
                
        ON
            e.device_id=o.device_id
    
    GROUP BY
        o.device_os        
    """)