<a href="https://colab.research.google.com/github/janilles/couch/blob/master/couch_trainers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boilerplate

In [0]:
# added -q for suppressing output
!pip install -q -U pymysql

import pymysql
import pandas as pd
import altair as alt

# Database connection

In [0]:
def connect():
    return pymysql.connect(
        host='',
        port=,
        user='',
        passwd='',
        db='',
        autocommit=True
        )

connection = connect()

def sql_to_df(sql):
    return pd.read_sql(sql, con=connection)

# Database tables

In [0]:
tables = sql_to_df("""SHOW TABLES""")

tables

## Tables described

In [0]:
sql_to_df("""DESCRIBE c25k_user_goal""")

In [0]:
sql_to_df("""DESCRIBE c25k_device""")

In [0]:
sql_to_df("""DESCRIBE c25k_run""")

In [0]:
sql_to_df("""DESCRIBE c25k_trainer_log""")

# Trainer swaps

In [0]:
trainer_swaps = sql_to_df("""
    SELECT
        new_trainer_id,
        current_trainer_id,
        COUNT(device_id),
        COUNT(DISTINCT device_id)        
    FROM
        c25k_trainer_log
    GROUP BY
        new_trainer_id,
        current_trainer_id
        """)

trainer_swaps

## Select only devices with incorrect trainer logs

In [0]:
trainer_me = sql_to_df("""
    SELECT DISTINCT
        device_id,
        current_trainer_id,
        new_trainer_id
    FROM 
        c25k_trainer_log
    WHERE
        current_trainer_id = 'me'
        """)

trainer_me.head()

In [0]:
device_os = sql_to_df("""
    SELECT DISTINCT
        device_id,
        device_os,
        MIN(started_at)
    FROM
        c25k_run
    GROUP BY
        device_id""")

device_os.head()

In [0]:
df = pd.merge(trainer_me,
              device_os,
              on='device_id',
              how='left')

df.head()

In [0]:
df.groupby('device_os')['device_id'].nunique()